/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
         * Remove text-shadow in selection highlight:
         * https://twitter.com/miketaylr/status/12228805301
         *
         * Vendor-prefixed and regular ::selection selectors cannot be combined:
         * https://stackoverflow.com/a/16982510/7133471
         *
         * Customize the background color to match your design.
         */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
         * A better looking default horizontal rule
         */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
         * Remove the gap between audio, canvas, iframes,
         * images, videos and the bottom of their containers:
         * https://github.com/h5bp/html5-boilerplate/issues/440
         */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
         * Remove default fieldset styles.
         */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
         * Allow only vertical resizing of textareas.
         */

textarea {
  resize: vertical;
}

/* ==========================================================================
          Author's custom styles
        ========================================================================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: hsl(0, 0%, 100%);
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

html {
  font-size: 14px;
}

h1,
h2,
h3,
h4 {
  font-family: "Raleway", sans-serif;
}

p {
  font-size: 1em;
  line-height: 1.6;
  margin: 0;
}

body {
  width: 100%;
  display: flex;
  background-color: hsl(218, 28%, 13%);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: hsl(0, 0%, 100%);
  margin: 0;
  text-align: center;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
}

.intro-wrapper {
  max-width: 1200px;
}

.feature-items-wrapper {
  max-width: 1300px;
}

/*  ------nav------  */
header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  background-color: hsl(217, 28%, 15%);
}

.logo-wrapper {
  width: 25%;
}

.logo {
  width: 100%;
  height: auto;
}

.nav-bar-wrapper {
  width: 85%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav {
  width: 50%;
}

.nav-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-item a {
  color: hsl(0, 0%, 100%);
  font-size: 0.875em;
}

.nav-item a:hover {
  font-weight: 700;
  text-decoration: underline;
}

/* ------ Intro ------ */

.intro {
  width: 100%;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: url(../images/bg-curvy-mobile.svg),
    linear-gradient(180deg, hsl(217, 28%, 15%) 55%, hsl(218, 28%, 13%) 65%);
  background-size: 110%;
  background-position: 65% 54%;
  background-repeat: no-repeat;
  padding-top: 40px;
  padding-bottom: 125px;
  margin: 0;
}

.intro-wrapper {
  width: 84%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro img {
  width: 100%;
  height: auto;
}

h1 {
  font-size: 1.75em;
  line-height: 1.5;
  margin: 40px 0 20px 0;
}

.intro-text {
  line-height: 1.6;
  margin-bottom: 30px;
}

.intro-sign-up {
  width: 240px;
  height: 45px;
  border-radius: 25px;
  background: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
  border: none;
  color: hsl(0, 0%, 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-sign-up:hover {
  background: hsl(185, 51%, 67%);
}

/* --------- Features ---------- */

.features {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(218, 28%, 13%);
  width: 100%;
  margin: 40px 0;
}

.feature-items-wrapper {
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 90px;
}

.features article {
  width: 100%;
}

.features h4 {
  font-size: 1.3em;
  margin: 30px 0 10px 0;
}

/* ----- About ----- */

.about {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 160px 0 100px 0;
}

.about-wrapper {
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-wrapper {
  width: 95%;
}

.img-wrapper img {
  width: 100%;
}

.about h2 {
  font-size: 1.3em;
  margin-top: 50px;
}

.about p {
  text-align: left;
  margin-top: 20px;
}

.learn-more {
  font-size: 0.85em;
  color: hsl(176, 68%, 64%);
  margin-top: 20px;
  border-bottom: 1px solid;
  padding-bottom: 4px;
  position: absolute;
  left: 7.5%;
  display: block;
}

.learn-more:hover {
  color: hsl(0, 0%, 100%);
}

.learn-more:hover .learn-more-arrow {
  fill: hsl(0, 0%, 100%);
}

/* ------- Testimonials -------- */
.testimonials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0 20px 0;
}

.testimonials-wrapper {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 22px;
}

.quotation-mark {
  width: 25px;
  position: absolute;
  left: 6px;
  top: -17px;
  z-index: -1;
}

.testimonial-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(219, 30%, 18%);
  padding: 25px 0 20px 0;
  text-align: left;
  border-radius: 5px;
  box-shadow: 4px 4px 4px 3px hsl(219, 30%, 18%, 0.25);
}

.testimonial-quote {
  width: 85%;
  font-size: 0.75em;
  line-height: 1.6;
}

.caption-wrapper {
  width: 85%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 15px;
}

.caption-wrapper img {
  width: 25px;
  border-radius: 50%;
}

figcaption {
  font-size: 0.75em;
  font-weight: 700;
  margin-left: 10px;
}

figcaption .title {
  font-size: 0.7em;
  font-weight: 400;
}

/* ------- Aside -------- */

.email-sign-up {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(217, 28%, 15%);
  border-radius: 10px;
  position: relative;
  top: 150px;
  padding: 40px 0 35px 0;
  box-shadow: 4px 4px 4px 3px hsl(0, 0%, 0%, 0.15);
}

.sign-up-text-wrapper {
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.email-sign-up h3 {
  font-size: 1.25em;
}

.email-sign-up p {
  margin: 18px 0 10px 0;
}

.email-sign-up label {
  width: 100%;
  visibility: hidden;
}

.email-sign-up input {
  width: 100%;
  height: 48px;
  background-color: hsl(0, 0%, 100%);
  border: none;
  border-radius: 25px;
  padding-left: 30px;
}

.email-sign-up input::placeholder {
  font-size: 0.75em;
  color: lightgray;
}

.email-sign-up button {
  width: 100%;
  height: 48px;
  color: hsl(0, 0%, 100%);
  background: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
  border: none;
  border-radius: 25px;
  margin-top: 15px;
}

.email-sign-up button:hover {
  background: hsl(185, 51%, 67%);
}

#error-message {
  font-size: 0.75em;
  color: hsl(0, 100%, 63%);
  align-self: left;
  padding-top: 4px;
}

.hide {
  visibility: hidden;
}

/* ------- Footer -------- */

footer {
  width: 100%;
  background-color: hsl(216, 53%, 9%);
  padding: 220px 0 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-logo-container {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.footer-content-wrapper {
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
}

.contact-info-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.address-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 40px;
}

.address-wrapper img {
  margin-top: 7px;
}

.address-wrapper p {
  width: 85%;
  font-size: 1.15em;
}

.contact-info {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 20px;
}

.contact-info img {
  margin-top: 4px;
}

.contact-info p {
  width: 85%;
}

.footer-links {
  width: 100%;
  margin-top: 80px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}

.footer-links li {
  width: 100%;
  font-size: 1.15em;
  margin: 10px 0;
}

.footer-links li:hover {
  font-weight: 700;
}

.social-media {
  width: 32%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.social-link-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-self: center;
}

.social-media-link i {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid hsl(0, 0%, 100%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.social-media-link i:hover {
  color: hsl(176, 68%, 64%);
  border: 1px solid hsl(176, 68%, 64%);
}

@media only screen and (min-width: 750px) {
  /*--- Header ---*/
  header {
    padding-top: 50px;
  }

  .logo-wrapper {
    width: 25%;
  }

  nav {
    width: 35%;
  }

  .nav-item a {
    font-size: 1em;
  }

  /*--- Intro ---*/
  .intro {
    background: url(../images/bg-curvy-desktop.svg),
      linear-gradient(180deg, hsl(217, 28%, 15%) 85%, hsl(218, 28%, 13%) 84%);
    background-size: 110%;
    background-position: 65% 84%;
    background-repeat: no-repeat;
    padding-top: 75px;
    padding-bottom: 150px;
    margin: 0;
  }

  .intro-wrapper {
    width: 75%;
  }

  h1 {
    font-size: 2em;
    line-height: 1.5;
    margin: 50px 0 35px 0;
  }

  .intro-text {
    width: 85%;
    font-size: 1.2em;
  }

  /*--- Features ---*/

  .feature-items-wrapper {
    width: 85%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
  }

  .features article {
    width: 35%;
  }

  .features article img {
    height: 80px;
    width: auto;
  }

  /* ----- About ----- */

  .about-wrapper {
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .img-wrapper {
    width: 47%;
  }

  .about-text-wrapper {
    width: 47%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
  }
  .img-wrapper img {
    width: 100%;
  }

  .about h2 {
    font-size: 2em;
  }

  a.learn-more {
    font-size: 1em;
    position: static;
  }
  /* ----- Testimonials ----- */
  .testimonials-wrapper {
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .quotation-mark {
    width: 40px;
    position: absolute;
    left: -10px;
    top: -28px;
    z-index: -1;
  }

  .testimonial-wrapper {
    width: 31%;
    padding: 40px 20px;
    border-radius: 10px;
  }

  .testimonial-quote {
    font-size: 1em;
  }

  .caption-wrapper {
    margin-top: 25px;
  }

  /*--- Aside ---*/
  .email-sign-up {
    width: 85%;
    position: relative;
    top: 110px;
    padding: 40px 0 25px 0;
    margin-top: 80px;
  }

  .sign-up-text-wrapper {
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }

  .email-sign-up h3 {
    width: 100%;
    font-size: 2.4em;
  }

  .email-sign-up-wrapper {
    width: 66%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .email-sign-up input::placeholder {
    font-size: 0.875em;
  }

  .email-sign-up button {
    width: 30%;
    margin-top: 0;
  }

  #error-message {
    padding: 6px 0 0 30px;
  }

  /* ----- Footer ----- */

  .footer-logo-container {
    width: 85%;
  }

  .footer-logo {
    width: 150px;
  }
  .footer-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
  }

  .contact-info-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    height: 100px;
    margin-top: 15px;
  }

  .address-wrapper {
    width: 50%;
    margin-top: 20px;
  }

  .address-wrapper p {
    width: 90%;
  }

  .contact-info {
    width: 25%;
  }

  .footer-links {
    width: 85%;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    height: 150px;
  }

  .link-group-1,
  .link-group-2 {
    width: 30%;
  }

  .social-media {
    width: 30%;
  }

  .social-link-wrapper {
    width: 80%;
  }
}

@media only screen and (min-width: 1000px) {
  /*--- Header ---*/
  header {
    padding-top: 70px;
  }

  .logo-wrapper {
    width: 15%;
  }

  nav {
    width: 22%;
  }

  .nav-item a {
    font-size: 1.1em;
  }

  /*--- Intro ---*/
  .intro {
    background: url(../images/bg-curvy-desktop.svg),
      linear-gradient(180deg, hsl(217, 28%, 15%) 100%, hsl(218, 28%, 13%) 100%);
    background-size: 100%;
    background-position: 65% 100%;
    background-repeat: no-repeat;
    padding-top: 75px;
    margin: 0;
  }

  .intro-wrapper {
    width: 55%;
  }

  h1 {
    font-size: 2.85em;
  }

  .intro-text {
    width: 80%;
    font-size: 1.4em;
  }

  .intro-sign-up {
    width: 280px;
    height: 55px;
    border-radius: 30px;
    font-size: 1.2em;
  }

  /*--- Features ---*/

  .features article {
    width: 29%;
  }

  .features article img {
    height: 80px;
    width: auto;
  }

  /* ----- About ----- */
  .about h2 {
    width: 80%;
    font-size: 2.85em;
  }

  .about p {
    font-size: 1.2em;
  }

  .learn-more {
    font-size: 1.2em;
  }

  /* ----- Testimonials ----- */
  .quotation-mark {
    width: 55px;
    position: absolute;
    left: -8px;
    top: -37px;
    z-index: -1;
  }

  /* ----- Aside ----- */
  .email-sign-up {
    width: 65%;
  }

  /* ----- Footer ----- */
  .footer-logo {
    width: 170px;
  }

  .footer-content-wrapper {
    width: 85%;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    height: 175px;
  }

  .contact-info-container {
    width: 65%;
  }

  .address-wrapper {
    width: 60%;
  }

  .contact-info {
    width: 28%;
  }

  .footer-links {
    width: 35%;
    margin-top: 20px;
  }

  .link-group-1,
  .link-group-2 {
    width: 30%;
  }

  .social-media {
    width: 40%;
  }

  .social-link-wrapper {
    width: 100%;
  }
}
